<section>

    <nav aria-label="breadcrumb shadow">
      <ol class="breadcrumb d-flex justify-content-between">
        <div class="mb-0">
          <p class="h2" style="color: #6610f2">Employees</p>
        </div>
        <div class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/employee/index">Employee</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </div>
      </ol>
    </nav>

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3">
          <div class="card shadow">
            <div class="card-body box-profile">
              <div class="text-center mb-3">
                <img class="profile-user-img img-fluid img-circle"  src="{{imgAvatar}}" alt="User profile picture">
              </div>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Username</b> <a class="float-right">{{employee.username}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="float-right">{{employee.email}}</a>
                </li>

              </ul>
              <a href="/employee/index" class="btn btn-primary btn-block btn-danger"><b><i class="fa-solid fa-arrow-left"></i> BACK</b></a>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card shadow">

            <div class="card-body">
              <ul class="list-group list-group-unbordered mb-3">

                <li class="list-group-item">
                  <b>First Name</b> <a class="float-right">{{employee.firstName}}</a>
                </li>

                <li class="list-group-item">
                  <b>Lasr Name</b> <a class="float-right">{{employee.lastName}}</a>
                </li>

                <li class="list-group-item">
                  <b>Birth Date</b> <a class="float-right">{{employee.birthDate}}</a>
                </li>
                <li class="list-group-item">
                  <b>Basic Salary</b> <a class="float-right">{{employee.basicSalary}}</a>
                </li>
                <li class="list-group-item">
                  <b>Status</b> <a class="float-right">{{employee.status}}</a>
                </li>
                <li class="list-group-item">
                  <b>Group</b> <a class="float-right">{{employee.group}}</a>
                </li>
                <li class="list-group-item">
                  <b>Description</b> <a class="float-right">{{employee.description}}</a>
                </li>
              </ul>

            </div>
          </div>

        </div>

      </div>

    </div>

</section>
