<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-lg-center h-100">
      <div class="col-lg-12" style="margin-top: 9rem; margin-bottom: 9rem;">

            <div class="card shadow-lg">
              <div class="card-body p-5">

                <div class="row">
                  <div class="col-lg-8">
                    <div>
                      <img src="{{ imgAuth }}" alt="image" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">

                      <div class="mb-3">
                        <label class="col-form-label">Fullname</label>
                        <input type="text" class="form-control shadow" formControlName="fullname" >
                      </div>

                      <div class="mb-3">
                        <label class="col-form-label">Username</label>
                        <input type="text" class="form-control shadow" formControlName="username" >
                      </div>

                      <div class="mb-3">
                        <label class="col-form-label">Mobile</label>
                        <input type="number" class="form-control shadow" formControlName="mobile" >
                      </div>

                      <div class="mb-3">
                        <label class="col-form-label">Email</label>
                        <input type="email" class="form-control shadow" formControlName="email" >
                      </div>

                      <div class="mb-3">
                        <label class="col-form-label">Password</label>
                        <input type="password" class="form-control shadow" formControlName="password">
                      </div>

                      <div class="mb-4">
                        <button type="submit" class="btn btn-purple btn-block" [disabled]="!registerForm.valid">
                          Register
                        </button>
                      </div>

                      <div class="">
                        <div class="text-center">
                          Allready have an account? <a [routerLink]="['/login']" type="button" class="text-primary">LOGIN</a>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>
